body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.Calculadora {
    background-color: #b43131;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
}

.pantalla {
    width: 99%;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: grid;
    align-items: center;
}
#pantalla-superior{
    font-size: revert-layer;
}

#pantalla, #pantalla-superior{
    width: 98%;
    height: 15px;
    font-size: large;
    text-align: right;
    padding: 2px;
    margin: 0px;
    border: none;
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}